@import '../../../styles/utilities';

.Share{
    @extend .container;
    padding-bottom: 1rem;       

    .result-list{
        width: 100%;
        min-height: 100px;
        padding-bottom: 1rem;    
    }
}